<div class="col-sm-6 signup-modal">
  <h4>Don't Have An account? Signup!</h4>
  <% @user = User.new %>
  <%= form_for @user, :url => {:controller => "users", :action => "signup" }, :method => :post, :onSubmit =>"return checkSignUp();" , :remote => true do |form| %>
			<span class="input input--sae">
              <%= form.text_field :full_name, :class => "input__field input__field--sae", :id => "input-17" %>
              <label class="input__label input__label--sae" for="input-17">
                <span class="input__label-content input__label-content--sae">Full Name</span>
              </label>
			</span>
			<span class="input input--sae">
              <%= form.text_field :email, :class => "input__field input__field--sae", :id => "input-17" %>
              <label class="input__label input__label--sae" for="input-17">
                <span class="input__label-content input__label-content--sae">Email</span>
              </label>
			</span>
			<span class="input input--sae">
              <%= form.password_field :password, :class => "input__field input__field--sae", :id => "input-17" %>
              <label class="input__label input__label--sae" for="input-17">
                <span class="input__label-content input__label-content--sae">Password</span>
              </label>
			</span>
			<span class="input input--sae">
              <%= form.password_field :password_confirmation, :class => "input__field input__field--sae", :id => "input-17" %>
              <label class="input__label input__label--sae" for="input-17">
                <span class="input__label-content input__label-content--sae">Confirm Password</span>
              </label>
			</span>
			<span class="input input--sae">
              <%= form.number_field :full_name, :class => "input__field input__field--sae", :id => "input-17" %>
              <label class="input__label input__label--sae" for="input-17">
                <span class="input__label-content input__label-content--sae">Mobile No.</span>
              </label>
			</span>
      <%= form.submit "Sign Up", :class => "submit" %>
  <% end %>
</div>
<script type="text/javascript">
   function checkSignUp(){

   }
</script>